<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sustainable Tourism</title>
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Leaflet.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/style/styles.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="{{ url_for('index') }}">
            <img src="/static/images/title.png" alt="Indonesia Logo" />
          </a>
        </div>
        <ul class="nav-links">
          <li><a href="{{ url_for('indonesia') }}">Indonesia</a></li>
          <li><a href="{{ url_for('asean') }}">ASEAN</a></li>
          <li><a href="{{ url_for('data') }}">Data</a></li>
          <li><a href="{{ url_for('model') }}">Model</a></li>
          <li><a href="{{ url_for('information') }}">Information</a></li>
        </ul>
        <div class="language-selector">
          <select class="language-dropdown">
            <option value="EN-IND">EN - IND</option>
          </select>
        </div>
      </nav>
    </header>
    <!-- Main -->
    <main>
      <div class="intro-data">
        <p>
          <strong> Data collection </strong>was carried out through scraping on
          three main data sources for each country, namely online news sites,
          official tourism sites and TripAdvisor.
        </p>
        <div class="download-container">
          <p>
            You can use this <strong>metadata</strong> to test your own
            models.</p>
            <a
              href="/static/data/sisilia_label.json"
              download
              class="download-button"
              >Download</a
            >
          </p>
        </div>
        <p>
          Data taken from each country is January 2024 – February 2025 for each
          country.
        </p>
        <h1>Data source :</h1>
      </div>
      <div class="table-container-data">
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Country</th>
              <th>Category</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Brunei Darussalam</td>
              <td>Government</td>
              <td>
                <a href="https://bruneitourism.com/" target="_blank"
                  >bruneitourism.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://borneobulletin.com.bn/" target="_blank"
                  >borneobulletin.com.bn/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g293937-Brunei_Darussalam-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Filipina</td>
              <td>Government</td>
              <td>
                <a href="https://philippines.travel/" target="_blank"
                  >philippines.travel/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.inquirer.net/" target="_blank"
                  >inquirer.net/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g294245-Philippines-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Indonesia</td>
              <td>Government</td>
              <td>
                <a href="https://indonesia.travel/" target="_blank"
                  >indonesia.travel/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.detik.com/" target="_blank">detik.com/</a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g294225-Indonesia-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Kamboja</td>
              <td>Government</td>
              <td>
                <a href="https://www.tourismcambodia.com/" target="_blank"
                  >tourismcambodia.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.khmertimeskh.com/" target="_blank"
                  >khmertimeskh.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g293939-Cambodia-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Laos</td>
              <td>Government</td>
              <td>
                <a href="https://www.tourismlaos.org/" target="_blank"
                  >tourismlaos.org/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.thestar.com" target="_blank"
                  >thestar.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g293949-Laos-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>Malaysia</td>
              <td>Government</td>
              <td>
                <a href="https://www.malaysia.travel/" target="_blank"
                  >malaysia.travel/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.malaymail.com/" target="_blank"
                  >malaymail.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g293951-Malaysia-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>Myanmar</td>
              <td>Government</td>
              <td>
                <a href="https://tourism.gov.mm/" target="_blank"
                  >tourism.gov.mm/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://elevenmyanmar.com/" target="_blank"
                  >elevenmyanmar.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g294190-Myanmar-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>Singapura</td>
              <td>Government</td>
              <td>
                <a href="https://www.visitsingapore.com/" target="_blank"
                  >visitsingapore.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.channelnewsasia.com/" target="_blank"
                  >channelnewsasia.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g294265-Singapore-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>Thailand</td>
              <td>Government</td>
              <td>
                <a href="https://www.tourismthailand.org/" target="_blank"
                  >tourismthailand.org/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://www.bangkokpost.com/" target="_blank"
                  >bangkokpost.com/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g293915-Thailand-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td>Timor Leste</td>
              <td>Government</td>
              <td>
                <a href="https://www.timorleste.tl/" target="_blank"
                  >timorleste.tl/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://en.tatoli.tl/" target="_blank">tatoli.tl/</a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g295117-Timor_Leste-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>Vietnam</td>
              <td>Government</td>
              <td>
                <a href="https://vietnam.travel/" target="_blank"
                  >vietnam.travel/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>News</td>
              <td>
                <a href="https://vietnamnews.vn/" target="_blank"
                  >vietnamnews.vn/</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>User Reviews</td>
              <td>
                <a
                  href="https://www.tripadvisor.com/Tourism-g293921-Vietnam-Vacations.html"
                  target="_blank"
                  >tripadvisor.com</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="/static/images/logo 1.png" alt="Indonesia Logo" />
        </div>
        <div class="footer-links">
          <div>
            <h3>Our Websites</h3>
            <a href="https://asset.indonesia.travel/">Digital Asset</a>
            <a href="https://indonesia.travel/yacht/en/">Yacht</a>
            <a href="https://indonesia.travel/cruise/en/">Cruise</a>
          </div>
          <div>
            <h3>Informations</h3>
            <a href="https://www.indonesia.travel/gb/en/about-us">About Us</a>
            <a href="https://www.indonesia.travel/gb/en/privacy-policy"
              >Privacy Policy</a
            >
            <a href="https://www.indonesia.travel/gb/en/terms-conditions"
              >Terms & Conditions</a
            >
            <a href="https://www.indonesia.travel/gb/en/cookie-policy"
              >Cookie Policy</a
            >
            <a href="https://www.indonesia.travel/gb/en/contact-us"
              >Contact Us</a
            >
          </div>

          <div class="footer-social">
            <h3>Sodial Media</h3>
            <a
              href="https://www.facebook.com/pesona.indonesia"
              target="_blank"
              title="Facebook"
              ><i class="fab fa-facebook-f"></i> Facebook</a
            >
            <a
              href="https://x.com/pesonaindonesia"
              target="_blank"
              title="Twitter"
              ><i class="fab fa-twitter"></i> Twitter</a
            >
            <a
              href="https://www.instagram.com/pesona.indonesia/#"
              target="_blank"
              title="Instagram"
              ><i class="fab fa-instagram"></i> Instagram</a
            >
            <a
              href="https://www.youtube.com/c/PesonaIndonesiaofficial"
              target="_blank"
              title="YouTube"
              ><i class="fab fa-youtube"></i> Youtube</a
            >
            <a
              href="https://www.tiktok.com/@pesonaindonesia"
              target="_blank"
              title="TikTok"
              ><i class="fab fa-tiktok"></i> TikTok</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
      var map = L.map("indonesia-map", {
        center: [-5.0, 120.0],
        zoom: 5,
        zoomControl: false, // Menonaktifkan kontrol zoom
        scrollWheelZoom: false, // Menonaktifkan zoom dengan scroll
        dragging: false, // Menonaktifkan kemampuan peta untuk digeser
        doubleClickZoom: false, // Menonaktifkan zoom dengan double-click
        touchZoom: false, // Menonaktifkan zoom dengan sentuhan pada perangkat mobile
        boxZoom: false, // Menonaktifkan zoom dengan area seleksi
      }).setView([-5.0, 120.0], 5);

      // Menambahkan layer peta dari OpenStreetMap
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        opacity: 0, // Menyembunyikan peta OpenStreetMap
      }).addTo(map);

      // Memuat GeoJSON untuk Indonesia
      fetch("/static/data/indonesia-edit.json")
        .then((response) => response.json())
        .then((data) => {
          var defaultColor = "#1d4ed8"; // Warna biru untuk wilayah default
          var hoverColor = "#FF5733"; // Warna sorot saat hover (orange)

          L.geoJSON(data, {
            style: function () {
              return {
                fillColor: defaultColor, // Atur warna awal wilayah ke biru
                weight: 1,
                opacity: 1,
                fillOpacity: 0.5,
              };
            },
            onEachFeature: function (feature, layer) {
              // Membuat konten popup untuk setiap wilayah
              var popupContent = `
          <h3>${feature.properties.name}</h3>
          <p>${
            feature.properties.description || "Deskripsi tidak tersedia."
          }</p>
        `;

              // Efek hover untuk menyoroti pulau atau wilayah dan menampilkan popup
              layer.on("mouseover", function () {
                layer.setStyle({
                  fillColor: hoverColor, // Warna sorot saat hover
                  weight: 2,
                  opacity: 1,
                  fillOpacity: 0.7,
                });

                // Menampilkan popup saat mouse menyentuh wilayah
                layer.bindPopup(popupContent).openPopup();
              });

              // Reset style saat mouse keluar
              layer.on("mouseout", function () {
                layer.setStyle({
                  fillColor: defaultColor, // Kembalikan ke warna biru
                  weight: 1,
                  opacity: 1,
                  fillOpacity: 0.5,
                });

                // Menutup popup saat mouse keluar
                layer.closePopup();
              });
            },
          }).addTo(map);
        })
        .catch((error) => console.log("Error loading GeoJSON:", error));
      document
        .querySelector(".language-dropdown")
        .addEventListener("change", function (event) {
          const selectedLanguage = event.target.value;

          // Implementasikan logika untuk mengubah bahasa, misalnya mengganti teks halaman atau menggunakan API untuk memuat ulang halaman dalam bahasa yang dipilih.
          console.log(`Bahasa yang dipilih: ${selectedLanguage}`);
        });

      window.onscroll = function () {
        var navbar = document.querySelector(".navbar");
        if (window.pageYOffset > 0) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      };

      let currentIndex = 0;
      const items = document.querySelectorAll(".carousel-item");
      const totalItems = items.length;
      const indicators = document.querySelectorAll(".indicator");

      function showNextSlide() {
        currentIndex = (currentIndex + 1) % totalItems;
        updateCarousel();
      }

      function updateCarousel() {
        const offset = -currentIndex * 100;
        document.querySelector(
          ".carousel-slide"
        ).style.transform = `translateX(${offset}%)`;

        // Update active indicator
        indicators.forEach((indicator, index) => {
          indicator.classList.remove("active");
          if (index === currentIndex) {
            indicator.classList.add("active");
          }
        });
      }

      function goToSlide(index) {
        currentIndex = index;
        updateCarousel();
      }

      // Automatically move to the next slide every 5 seconds
      setInterval(showNextSlide, 5000);
    </script>
  </body>
</html>
